version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "build"
    labels:
      - "dependencies"
      - "github-actions"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: "/images/php/8.3/alpine"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "build"
    labels:
      - "dependencies"
      - "docker"

  - package-ecosystem: "docker"
    directory: "/images/php/8.3/alpine-fpm"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "build"
    labels:
      - "dependencies"
      - "docker"

  - package-ecosystem: "docker"
    directory: "/images/python/3.14/alpine"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "build"
    labels:
      - "dependencies"
      - "docker"